<!DOCTYPE html>
<html>
<head>
	<title>project1</title>
	<link rel="stylesheet" type="text/css" href="/static/css/simple-grid.css">

	<link rel="stylesheet" type="text/css" href="/static/css/simple-grid.min.css">
</head>
<body>
	<h1 align="center">Project1</h1>
<div class="row">
	<div class="row">
		<div class="col-3"></div>
		<img class="col-6" src="{{url_for('static',filename='images/project1.jpg')}}">
		<div class="col-3"></div>
	</div>

	<div class="row">
		<div class="col-3"></div>
		<h5 class="col-6">enf;oansdovnioHFIOe;lfmncs;idjbv;oiBSOFBiebfi;sjdv;kasjbdviobio[uvbWIDBVI;sbd;ivbwoubvobjs;do</h5>
		<div class="col-3"></div>
	</div>
</div>
</body>
</html>